* {
    box-sizing: border-box;
    font-size: 1.5rem;
}

.container {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    border: 1px solid black;
    flex-wrap: wrap;
}

.list {
    border: 3px solid green;
    background-color: blanchedalmond;
}

.list li {
    list-style: none;
    margin-left: -1rem;
    margin-right: 0.8rem;
}